<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<head>
  <script>
  function send_type(slide, id, type) {
    const req = new XMLHttpRequest();
    req.open("GET", "/wbc_view?slide="+slide+"&id="+id+"&type="+type);
    req.send();
  }

  function allowDrop(ev) {
    ev.preventDefault();
  }

  function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
  }

  function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    var img = document.getElementById(data);
    if(ev.target.tagName == 'DIV') {
      var targetDiv = ev.target
      } else {
      var targetDiv = ev.target.parentNode
    }
    if(targetDiv.className == "cell_type"){
      img.setAttribute("width", "20%");
      img.setAttribute("height", "20%");
    } else {
      img.setAttribute("width", "30%");
      img.setAttribute("height", "30%");
    }
    targetDiv.appendChild(img);
    send_type("1", data, targetDiv.id)
  }

  function zoom(ev) {
      var modal = document.getElementById('myModal');
      var modalImg = document.getElementById("img01");
      modal.style.display = "block";
      modalImg.src = ev.target.src;
  }

  function zoomout(ev) {
    var modalImg = document.getElementById("img01");
    var modal = document.getElementById('myModal');
    setTimeout(function() {
        modal.style.display = "none";
      }, 100);

   }

   function condense(ev) {
     id = ev.target.alt;
     box = document.getElementById(id);
     if (box.style.display == "none") {
       box.style.display = "block";
       ev.target.style.transform = "rotate(90deg)";
     } else {
     box.style.display = "none";
     ev.target.style.transform = "rotate(180deg)";
     }
   }

  </script>
</head>
<body>
  <h3>WBC View</h3>

  <div class=sorted_cells>
    {% for x, y in wbc_types %}
      {% if y|length == 0 %}
        <h2> {{ x }} <img class="triangle" src=static/triangle.png height="10" onclick="condense(event)" alt={{ x }}> </h2>
        <div id={{ x }} class="cell_type" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      {% else %}
        <h2> {{ x }} <img class="triangle" src=static/triangle.png height="10" onclick="condense(event)" alt="{{ x }}_section"> </h2>
        <div id="{{ x }}_section">
          {% for z in y %}
          <h4> {{ z }} <img class="triangle" src=static/triangle.png height="10" onclick="condense(event)" alt="{{ z }}"></h4>
          <div id="{{ z }}" class="cell_type" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="unsorted_cells" ondrop="drop(event)" ondragover="allowDrop(event)">
    <br>
    {% for x, y, z in wbc_imgs %}
        <img class=cell_images id={{ y }} src={{ x }} draggable="true" ondragstart="drag(event)" onclick="zoom(event)" width="30%" height="30%">
        <script type = "text/javascript">
          function set_type() {
            if("{{ z }}" != "none") {
               targetDiv = document.getElementById("{{ z }}");
               img = document.getElementById({{ y }});
               if(targetDiv.className == "cell_type"){
                 img.setAttribute("width", "20%");
                 img.setAttribute("height", "20%");
               } else {
                 img.setAttribute("width", "30%");
                 img.setAttribute("height", "30%");
               }
               targetDiv.appendChild(img);
            }
          }
          set_type()
        </script>
    {% endfor %}
  </div>
  <div id="myModal" class="modal" onclick="zoomout(event)">
    <img id="img01">
</body>
{% endblock %}
